<div class="container">
    <h1>Success!</h1>
    <h1>Pyament received</h1>
    <h1>Thank You!</h1>
    <h3> You can create post now</h3>
    <br>
    <a href="/displayPostForm"><button class="btn btn-success" type="button">Create Post</button></a>
</div>